--- build_dhcpd.conf.sample.orig	2018-03-21 20:34:29 UTC
+++ build_dhcpd.conf.sample
@@ -0,0 +1,32 @@
+# Get the local hosts FQDN.  It will be an assumption!! that it is the same as the hostname in ONA
+# Also, the use of hostname -f can vary from system type to system type.  be aware!
+SRV_FQDN=`hostname -f`
+
+# Path to the dcm.pl command.  Also include any options that might be needed
+DCM_PATH="${ONABASE}/bin/dcm.pl"
+
+# For now a path is required to a default header.
+# this will have things like the authoritative statement,ddns-update-style, and other required options
+# this header should contain things that are static and rarely change
+# it can also contain localized configuration not maintained by ONA
+# This value must not be blank
+HEADER_PATH="${ONA_PATH}/dhcpd.conf.ona.header"
+
+# Remove the temporary configuration files that are older than $DAYSOLD.  This uses the find
+# command to remove anything older than this amount of days.  These are configs that had an
+# error for some reason.
+DAYSOLD=30
+
+# The path to the system init script that is responsible for restarting the dhcpd service
+# also include the restart option to the init script that is appropriate for your system
+SYSTEMINIT="/etc/init.d/dhcpd restart"
+
+# The systems DHCPD binary file.  Enter full path if needed
+DHCPDBIN=dhcpd
+
+# Email settings for config_archive to send status information to (diffs etc)
+# Comment out the MAIL_TO line to disable sending of error related email notifications.
+MAIL_SERVER=mail.example.com               # name or IP of the mail server to use
+MAIL_FROM=ona-build_dhcpd@$SRV_FQDN        # email address to use in the from field
+MAIL_TO=someone@example.com                # email address(es) to send our notifications to
+
